{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

    <h3>Balance History</h3>

    <div class="card p-3 mt-3">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                {% for t in transactions %}
                <tr>
                    <td>{{ t.created_at }}</td>

                    <td>
                        {% if t.transaction_type == "DEBIT" %}
                            <span class="badge bg-danger">Debit</span>
                        {% else %}
                            <span class="badge bg-success">Credit</span>
                        {% endif %}
                    </td>

                    <td>{{ t.amount }}</td>
                    <td>{{ t.description }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No transactions found.</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>

</div>

{% endblock %}